ul {
  padding: 0;
  margin: 10px 0 10px 25px
}

ol {
  padding: 0;
  margin: 10px 0 10px 25px
}

li {
  margin: 0 0 5px 0;
}

a {
  text-decoration: underline;
  color: black;
}

a:hover {
  text-decoration: none;
  background-color: black;
  color: white;
}

a .grey:hover {
  color: white;
}

#centered {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 600px;
  height: 300px;
  margin-top: -200px;
  margin-left: -300px;
  text-align: center;
}

.header-title {
  font-size: 22pt;
  font-weight: bold;
  padding: 30px 0 0 0;
}

.module-title {
  font-size: 12pt;
}

.modules-container {
  white-space: pre;
}

.group-title {
  font-size: 24pt;
  font-weight: bold;
}

.lesson-container,
.holidays-container,
.encyclopedia-section-container {
  font-size: 12pt;
  line-height: 120%;
  padding: 30px 10px 0 10px;
  text-align: left;
}

.lesson-title,
.holidays-title {
  font-size: 16pt;
  font-weight: bold;
}

.lesson-date,
.holidays-comment {
  font-size: 8pt;
}

.lesson-sections-title {
  font-size: 16pt;
  margin-top: 20px;
}

.lesson-work-title {
  font-size: 16pt;
  margin-top: 20px;
}

.lesson-section-themes,
.lesson-section-themes a:link,
.lesson-section-themes a:visited,
.lesson-work-comment,
.lesson-work-comment a:link,
.lesson-work-comment a:visited {
  color: grey;
}

.lesson-section-themes a:hover,
.lesson-work-comment a:hover {
  color: gainsboro;
}

.inactive-lesson,
.inactive-lesson a:link,
.inactive-lesson a:visited {
  color: grey;
}

.inactive-lesson a:hover {
  color: gainsboro;
}

/* DIARY */

.diary-container {
  margin-top: 20px;
}

.diary-table {
  font-size: 12pt;
  margin: 0 auto;
  border-spacing: 5px;
}

.value-table-item {
  text-align: center;
  vertical-align: middle;
}